<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" src="">
      <ion-back-button defaultHref="/inicio" icon="chevron-back-outline" text="Volver" style="--color: white; --background: #ff5733;">Volver</ion-back-button>
    </ion-buttons>
    <ion-title>action-sheet</ion-title>
    
 
  </ion-toolbar>
</ion-header>
ion

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio" icon="chevron-back-outline">Volver</ion-back-button>
      </ion-buttons>
      <ion-title size="large">action-sheet</ion-title>
      
    </ion-toolbar>
  </ion-header>
</ion-content> --> 
<ion-content>
  <app-header></app-header>
</ion-content>